@font-face {
	font-family: 'Berlin Sans FB';
	src: url('./fonts/BerlinSansFB-Reg.eot');
	src: url('./fonts/BerlinSansFB-Reg.eot?#iefix') format('embedded-opentype'),
			url('./fonts/BerlinSansFB-Reg.woff2') format('woff2'),
			url('./fonts/BerlinSansFB-Reg.woff') format('woff'),
			url('./fonts/BerlinSansFB-Reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* TODO Remove these colors */
/* TODO #000000 - black */
/* TODO #444444 - gray-700 */
/* TODO #707070 - gray-500 */
/* TODO #AAAAAA - gray-400 */
/* TODO #F5F5F5 - gray-200 */
/* TODO #FFFFFF - white */
/* TODO #2699FB - blue */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-shadow: none;
	scroll-behavior: smooth;
}

/* Uses arial as preferred font, and then falls back on to the system default UI fonts. */
body {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 22px;
	min-height: 200vh;
	font-weight: 400;
	color: #444444;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000000;
	line-height: 1.25em;
}

h1 {
	font-family: 'Berlin Sans FB';
	font-size: 5em;
}

h2 {
	font-size: 2.18em;
}

h3 {
	font-size: 1.875em;
	margin-bottom: 8px;
}

h4 {
	font-size: 1.4em;
	color: #444;
	margin-bottom: 4px;
}

footer p {
	color: #707070;
	font-style: italic;
}

a {
	color: #2699FB;
	font-weight: 400;
	background-image: linear-gradient(to right, #ffffff 50%, #2699FB 50%);
	background-position: 0;
	background-size: 200%;
	transition: all 200ms;
	padding: 0 4px;

	/* Underline styling (for browsers that support this) */
	text-underline-offset: 2px;
	text-decoration-skip-ink: auto;
	text-decoration-skip: ink;
}

a:hover,
a:focus {
	background-position: -100%;
	color: #FFFFFF;
}

a:focus {
	outline: 0;
}

p {
	margin-bottom: 16px;
}

article {
	padding: 32px 0;
}

img {
	width: 100%;
}

/* Start | Page content */
.page-content {
	padding: 0;

	justify-content: center;
	display: grid;
	grid-column-gap: 16px;
	column-gap: 16px;
	grid-row-gap: 16px;
	row-gap: 16px;
	grid-template-columns: 780px 364px;
	grid-template-areas:
		"header header"
		"nav nav"
		"main-content referral"
		"secondary-content ."
		"sport-content ."
		"contact ."
		"footer footer";
}

.page-content > article,
.page-content > #contactcontent {
	padding: 32px 64px;
}
/* End | Page content */

/* Start | Page header */
.main-header {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 450px;
	position: relative;
	overflow: hidden;
	grid-area: header;
}

.background-video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	z-index: -1;
	opacity: .5;
}

@supports(width: calc(100% + 8px)) {
	.background-video {
		filter: grayscale(0.4) blur(5px);
		height: calc(100% + 8px);
		width: calc(100% + 8px);
	}
}
/* End | Page header */

/* Start | Navigation */
nav {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: #FFFFFF;
	grid-area: nav;
	z-index: 1;
	padding-left: 48px;
}

nav > ul {
	display: flex;
	align-items: center;
	list-style: none;
}

nav > ul > li {
	display: flex;
}

nav > ul > li > a {
	padding: 12px 16px;
	text-align: center;
}
/* End | Navigation */

/* Start | Main content */
#maincontent {
	grid-area: main-content;
}
/* End | Main content */

/* Start | Secondary content */
#secondarycontent {
	grid-area: secondary-content;
}
/* End | Secondary content */

/* Start | Sport content */
#sportcontent {
	grid-area: sport-content;
}

#sportcontent .sport-clubs {
	list-style: none;
}

#sportcontent .sport-clubs li {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 16px;
}

#sportcontent .sport-clubs li > a {
	padding: 0;
	background-image: unset;
	background-color: #ffffff;
	text-decoration: none;
	margin-right: 32px;
	height: 150px;
}

#sportcontent .sport-clubs li > a img {
	height: 150px;
	width: 250px;
	object-fit: cover;
	object-position: center;
	transition: all 200ms ease-in-out;
}

#sportcontent .sport-clubs li > a:hover img,
#sportcontent .sport-clubs li > a:focus img {
	filter: grayscale(.9);
	transform: scale(1.02) translateY(-2px);

}

#sportcontent .sport-clubs li > .sport-club-description a {
	padding: 4px;
	margin-left: -4px;
}
/* End | Sport content */

/* Start | Referral */
#referalcontent {
	grid-area: referral;
	position: sticky;
	top: 32px;
	padding: 32px 64px 0 0;
}

#referalcontent footer p {
	font-style: normal;
	margin-bottom: 4px;
}
/* End | Referral */

/* Start | Contact */
#contactcontent {
	grid-area: contact;
}

#contactcontent > form {
	display: flex;
}

#contactcontent > form > fieldset {
	padding: 16px;
}

#contactcontent > form > fieldset > legend {
	padding: 4px;
	margin-left: -4px;
}

#contactcontent .fields {
	display: grid;
	grid-template-columns: repeat(2, 300px);
	grid-template-areas:
		"name-label email-label"
		"name-input email-input"
		"message-label ."
		"message-textarea message-textarea";
	grid-column-gap: 16px;
	column-gap: 16px;
	grid-row-gap: 8px;
	row-gap: 8px;
}

#contactcontent .fields > input,
#contactcontent .fields > textarea {
	padding: 8px;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	border-radius: 4px;
	width: 100%;
	transition: all 100ms ease;
}

#contactcontent .fields > input:invalid {
	background-image: url('./img/icon-ui-1-close.svg');
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 276px center;
}

#contactcontent .fields > input:placeholder-shown {
	background-image: none;
}

#contactcontent .fields > input:focus,
#contactcontent .fields > textarea:focus {
	background-color: #F5F5F5;
	outline: 0;
	border-color: #2699FB;
}

#contactcontent .fields > label:nth-of-type(1) {
	grid-area: name-label;
}

#contactcontent .fields > input:nth-of-type(1) {
	grid-area: name-input;
}

#contactcontent .fields > label:nth-of-type(2) {
	grid-area: email-label;
}

#contactcontent .fields > input:nth-of-type(2) {
	grid-area: email-input;
}

#contactcontent .fields > label:nth-of-type(3) {
	grid-area: message-label;
}

#contactcontent .fields > textarea {
	grid-area: message-textarea;
	resize: vertical;
	min-height: 120px;
}
/* End | Contact */

/* Start | Footer */
.page-footer {
	align-items: center;
	grid-area: footer;
	display: flex;
	justify-content: center;
	background-color: #f5f5f5;
	padding: 16px 32px 92px;
}

.page-footer p {
	margin-bottom: 0;
	font-style: normal;
}
/* End | Footer */

/* Start | Cookie notification */
.cookie-notification {
	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #F5F5F5;
	width: 100%;
	padding: 16px;
}

.cookie-notification > p {
	margin-bottom: 0;
	line-height: 1.25em;
	font-style: normal;
}
/* End | Cookie notification */
